In [197]:
import pandas as pd

In [198]:
df = pd.read_csv("customer_churn_dataset.csv")
# df = df.drop(columns=['customerID'])
# df.insert(0, 'c_id', range(1, len(df) + 1))
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,Churn
0,Cust_1,Male,0.0,Yes,No,2.0,Yes,No,NaN,No,No internet service,1
1,Cust_2,Female,1.0,No,No,NaN,Yes,No,Fiber optic,Yes,Yes,0
2,Cust_3,Male,0.0,NaN,Yes,NaN,NaN,Yes,NaN,No,NaN,0
3,Cust_4,Male,1.0,No,No,13.0,Yes,No phone service,NaN,No,NaN,0
4,Cust_5,NaN,1.0,Yes,Yes,55.0,No,No,NaN,Yes,Yes,1

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       10000 non-null  object
 1   gender           9000 non-null   object
 2   SeniorCitizen    9000 non-null   float64
 3   Partner          9000 non-null   object
 4   Dependents       9000 non-null   object
 5   tenure           9000 non-null   float64
 6   PhoneService     9000 non-null   object
 7   MultipleLines    9000 non-null   object
 8   InternetService  9000 non-null   object
 9   OnlineSecurity   9000 non-null   object
 10  OnlineBackup     9000 non-null   object
 11  Churn            10000 non-null  int64
dtypes: float64(2), int64(1), object(9)
memory usage: 937.6+ KB

In [200]:
df.columns = [
    'c_id',
    'gender',
    'senior_citizen',
    'partner',
    'dependents',
    'tenure',
    'phone_service',
    'multiple_lines',
    'internet_service',
    'online_security',
    'online_backup',
    'churn'
]
df.head()

,c_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Cust_1,Male,0.0,Yes,No,2.0,Yes,No,NaN,No,No internet service,1
1,Cust_2,Female,1.0,No,No,NaN,Yes,No,Fiber optic,Yes,Yes,0
2,Cust_3,Male,0.0,NaN,Yes,NaN,NaN,Yes,NaN,No,NaN,0
3,Cust_4,Male,1.0,No,No,13.0,Yes,No phone service,NaN,No,NaN,0
4,Cust_5,NaN,1.0,Yes,Yes,55.0,No,No,NaN,Yes,Yes,1

In [201]:
df.isnull().sum()

c_id                   0
gender              1000
senior_citizen      1000
partner             1000
dependents          1000
tenure              1000
phone_service       1000
multiple_lines      1000
internet_service    1000
online_security     1000
online_backup       1000
churn                  0
dtype: int64

In [202]:
df = df.drop(columns=['c_id'])

In [203]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0.0,Yes,No,2.0,Yes,No,NaN,No,No internet service,1
1,Female,1.0,No,No,NaN,Yes,No,Fiber optic,Yes,Yes,0
2,Male,0.0,NaN,Yes,NaN,NaN,Yes,NaN,No,NaN,0
3,Male,1.0,No,No,13.0,Yes,No phone service,NaN,No,NaN,0
4,NaN,1.0,Yes,Yes,55.0,No,No,NaN,Yes,Yes,1

In [204]:
df['gender'] = df['gender'].fillna('unknown')
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0.0,Yes,No,2.0,Yes,No,NaN,No,No internet service,1
1,Female,1.0,No,No,NaN,Yes,No,Fiber optic,Yes,Yes,0
2,Male,0.0,NaN,Yes,NaN,NaN,Yes,NaN,No,NaN,0
3,Male,1.0,No,No,13.0,Yes,No phone service,NaN,No,NaN,0
4,unknown,1.0,Yes,Yes,55.0,No,No,NaN,Yes,Yes,1

In [205]:
# 0 - no, 1 - yes, -1 - null
df['senior_citizen'] = df['senior_citizen'].fillna(-1).astype(int)
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,Yes,No,2.0,Yes,No,NaN,No,No internet service,1
1,Female,1,No,No,NaN,Yes,No,Fiber optic,Yes,Yes,0
2,Male,0,NaN,Yes,NaN,NaN,Yes,NaN,No,NaN,0
3,Male,1,No,No,13.0,Yes,No phone service,NaN,No,NaN,0
4,unknown,1,Yes,Yes,55.0,No,No,NaN,Yes,Yes,1

In [206]:
cols = [
    'partner', 'dependents', 'phone_service', 'online_security'
]

for col in cols:
    df[col] = df[col].map({'Yes': 1, 'No': 0})

df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,1.0,0.0,2.0,1.0,No,NaN,0.0,No internet service,1
1,Female,1,0.0,0.0,NaN,1.0,No,Fiber optic,1.0,Yes,0
2,Male,0,NaN,1.0,NaN,NaN,Yes,NaN,0.0,NaN,0
3,Male,1,0.0,0.0,13.0,1.0,No phone service,NaN,0.0,NaN,0
4,unknown,1,1.0,1.0,55.0,0.0,No,NaN,1.0,Yes,1

In [207]:
df['internet_service'].unique()

array([nan, 'Fiber optic', 'DSL', 'No'], dtype=object)

In [208]:
df['partner'].unique()

array([ 1.,  0., nan])

In [209]:
df['dependents'].unique()

array([ 0.,  1., nan])

In [211]:
df['phone_service'].unique()

array([ 1., nan,  0.])

In [213]:
df['multiple_lines'].unique()

array(['No', 'Yes', 'No phone service', nan], dtype=object)

In [214]:
df['internet_service'] = df['internet_service'].apply(lambda x: 1 if x in ['Fiber optic', 'DSL'] else x)
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,1.0,0.0,2.0,1.0,No,NaN,0.0,No internet service,1
1,Female,1,0.0,0.0,NaN,1.0,No,1,1.0,Yes,0
2,Male,0,NaN,1.0,NaN,NaN,Yes,NaN,0.0,NaN,0
3,Male,1,0.0,0.0,13.0,1.0,No phone service,NaN,0.0,NaN,0
4,unknown,1,1.0,1.0,55.0,0.0,No,NaN,1.0,Yes,1

In [215]:
df['tenure'] = df['tenure'].fillna(df['tenure'].mean())

In [216]:
df[cols] = df[cols].fillna(-1)

In [217]:
# Define the columns to process
cols_to_replace = ['multiple_lines', 'internet_service', 'online_backup']

# Replace values containing 'No' with 0 and 'Yes' with 1
for col in cols_to_replace:
    df[col] = df[col].apply(lambda x: 0 if isinstance(x, str) and 'No' in x else (1 if isinstance(x, str) and 'Yes' in x else x))

# Convert columns to float for averaging
df[cols_to_replace] = df[cols_to_replace].astype(float)

# Replace nulls with the mean of each column
for col in cols_to_replace:
    df[col] = df[col].fillna(df[col].mean())

# Convert columns back to integer type
df[cols_to_replace] = df[cols_to_replace].astype(int)

In [218]:
# Convert float columns in 'cols' back to integer type
for col in cols:
    if df[col].dtype == float:
        df[col] = df[col].astype(int)
df[cols].dtypes

partner            int32
dependents         int32
phone_service      int32
online_security    int32
dtype: object

In [219]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,1,0,2.000000,1,0,0,0,0,1
1,Female,1,0,0,36.459889,1,0,1,1,1,0
2,Male,0,-1,1,36.459889,-1,1,0,0,0,0
3,Male,1,0,0,13.000000,1,0,0,0,0,0
4,unknown,1,1,1,55.000000,0,0,0,1,1,1

In [220]:
df['tenure'] = df['tenure'].round(2)
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,1,0,2.00,1,0,0,0,0,1
1,Female,1,0,0,36.46,1,0,1,1,1,0
2,Male,0,-1,1,36.46,-1,1,0,0,0,0
3,Male,1,0,0,13.00,1,0,0,0,0,0
4,unknown,1,1,1,55.00,0,0,0,1,1,1

In [221]:
df.isnull().sum()

gender              0
senior_citizen      0
partner             0
dependents          0
tenure              0
phone_service       0
multiple_lines      0
internet_service    0
online_security     0
online_backup       0
churn               0
dtype: int64

In [222]:
for col in df.columns:
    if (df[col] == -1).any():
        mean_val = df.loc[df[col] != -1, col].mean()
        if 'int' in str(df[col].dtype):
            mean_val = int(round(mean_val))
        df[col] = df[col].replace(-1, mean_val)

In [223]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,Male,0,1,0,2.00,1,0,0,0,0,1
1,Female,1,0,0,36.46,1,0,1,1,1,0
2,Male,0,0,1,36.46,0,1,0,0,0,0
3,Male,1,0,0,13.00,1,0,0,0,0,0
4,unknown,1,1,1,55.00,0,0,0,1,1,1

In [224]:
df['gender'] = df['gender'].replace({'Male': 0, 'Female': 1})
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,0,0,1,0,2.00,1,0,0,0,0,1
1,1,1,0,0,36.46,1,0,1,1,1,0
2,0,0,0,1,36.46,0,1,0,0,0,0
3,0,1,0,0,13.00,1,0,0,0,0,0
4,unknown,1,1,1,55.00,0,0,0,1,1,1

In [225]:
most_frequent_gender = df.loc[df['gender'] != 'unknown', 'gender'].mode()[0]
df['gender'] = df['gender'].replace('unknown', most_frequent_gender)
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
0,0,0,1,0,2.00,1,0,0,0,0,1
1,1,1,0,0,36.46,1,0,1,1,1,0
2,0,0,0,1,36.46,0,1,0,0,0,0
3,0,1,0,0,13.00,1,0,0,0,0,0
4,0,1,1,1,55.00,0,0,0,1,1,1

In [226]:
df.corr()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,churn
gender,1.000000,0.000970,-0.013146,0.002240,-0.018999,0.003882,0.016119,-0.017100,-0.009144,-0.000051,-0.022310
senior_citizen,0.000970,1.000000,0.007358,-0.007618,0.003008,-0.009288,-0.000791,0.001314,-0.010062,-0.008396,0.001406
partner,-0.013146,0.007358,1.000000,-0.004964,0.005216,0.002286,-0.009135,0.000884,-0.003799,-0.013792,-0.009433
dependents,0.002240,-0.007618,-0.004964,1.000000,-0.021478,-0.006968,-0.005273,0.005958,0.001159,-0.015228,0.014888
tenure,-0.018999,0.003008,0.005216,-0.021478,1.000000,0.016196,-0.004802,0.007215,-0.000447,-0.010116,-0.003947
phone_service,0.003882,-0.009288,0.002286,-0.006968,0.016196,1.000000,-0.005719,0.010626,0.002287,-0.020007,0.022630
multiple_lines,0.016119,-0.000791,-0.009135,-0.005273,-0.004802,-0.005719,1.000000,0.016661,0.004053,0.000038,-0.000833
internet_service,-0.017100,0.001314,0.000884,0.005958,0.007215,0.010626,0.016661,1.000000,0.003229,0.014485,0.000766
online_security,-0.009144,-0.010062,-0.003799,0.001159,-0.000447,0.002287,0.004053,0.003229,1.000000,0.003000,-0.001959
online_backup,-0.000051,-0.008396,-0.013792,-0.015228,-0.010116,-0.020007,0.000038,0.014485,0.003000,1.000000,0.003083
churn,-0.022310,0.001406,-0.009433,0.014888,-0.003947,0.022630,-0.000833,0.000766,-0.001959,0.003083,1.000000